* {

}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

li {
    font-weight: 18px;
    color: #E5E7EB;

}

.header h1 {
    color: #F9FAF8;
    font-size: 48px;
}

.left-side h1 {
    padding: 48px 0px 0px 0px;
    margin: 0px;
}

.left-side div {
    color: #E5E7EB;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 0px 64px 32px 64px;
    margin: 0;
}

.navigation h3 {
    color: #F9FAF8;
    font-size: 24px;
}

.header .container {
    display: flex;
    flex-direction: column;
    margin: 0px 100px 75px 100px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex: 1;
}

.main .right-side {
    padding: 0px 275px;
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}

.main .right-side div {
    /*padding: 0px 0px 64px 100px;*/
    display: flex;
}

.main .left-side {
    margin: 0px 80px 0px 0px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    padding: 0px 150px;
}

.content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 48px 100px 48px;
    margin: 0px 75px;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.container h2 {
    font-weight: bold;
    padding-bottom: 24px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    align-content: center;
    padding: 0px 300px;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 48px;
}

.quote .container div {
    font-weight: bold;
}

.quote h1 {
    font-size: 36px; 
    font-style: italic;
    color: #1f2937;
    font-weight: normal;
}

.left-side h3 {
    padding: 0px;
    margin: 0px;
}

.boxone,
.boxtwo,
.boxthree,
.boxfour {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding: 0px 16px;
}

.boxone img {
    max-width: 75%;
    max-height: 75%;
}

.boxtwo img {
    max-width: 75%;
    max-height: 75%
}

.boxthree img {
    max-width: 75%;
    max-height: 75%
}

.boxfour img {
    max-width: 75%;
    max-height: 75%
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 24px;
}

.call-to-action .left-side {
    display: flex;
    flex-direction: column;
}

.right-side button {
    padding: 6px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
}

.left-side button {
    padding: 6px 28px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #3882F6;
    border-radius: 8px;
    font-weight: bold;
    margin: 8px 0px;
}

.call-to-action .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 48px 24px;
    width: 500px;
    margin: 75px 200px;
    border-radius: 8px;
}

.call-to-action div {
    color: #F9FAF8;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}